@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600;700&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s forwards;
}

body {
  font-family: 'Urbanist', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

